---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16o5VXKvv4sqfP0NVs3YV7nm",
          "livemode": false,
          "created": 1442984971,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16o5VXKvv4sqfP0N8yk6QuBK",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "E7kF800Rn7Ck1iVU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "59.167.223.177"
        }
  recorded_at: Wed, 23 Sep 2015 05:09:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&currency=usd&source=tok_16o5VXKvv4sqfP0NVs3YV7nm
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_16nOEmIDysV1eWIb
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_16nOEmIDysV1eWIb
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16o5VbIDysV1eWIbje8jDW3t"
          }
        }
  recorded_at: Wed, 23 Sep 2015 05:09:36 GMT
recorded_with: VCR 2.9.3
