.row
  .col-md-4.col-md-offset-2
    %h1
      ="#{@user.username.titleize}'s Account"
    %h3
      ="Products: #{@products.size}"
    %h3
      ="Total Sales: #{cents_to_dollars(@user.total_sales)}"
    %br
    -if current_user.stripe_connected?
      =link_to new_user_product_path(current_user), class: "btn btn-danger btn-lg" do
        %span.glyphicon-plus
          Upload New Product
    -else
      .btn.btn-danger.btn-lg.disabled
        %span.glyphicon-plus
          Upload New Product
  .col-md-5
    %h1.text-center Products
    -@products.each do |product|
      %table.product-info.table.table-striped
        %tr.bold
          %td Product
          %td Price
          %td Total Sales 
          %td Analytics       
          %tr
            %td
              =link_to product.name, user_product_path(@user,product)
              |
              %a(href="#" data-toggle="modal" data-target="#product-link")
                (Sharable Link)
              =render 'modal', product: product
            %td
              =product.price
            %td
              =cents_to_dollars(product.sales_total)
            %td
              =link_to "Analytics", user_product_payments_path(product.user,product)

