.row
  .col-md-4.col-md-offset-4
    %h2.text-center
      Sign Up Now
    %br
    %form.form-horizontal.center.text-center
      %input.form-control.form-group(type="text"  placeholder="Username" name="username")
      %input.form-control.form-group(type="password"  name="password" placeholder="Password")
      %input.form-control.form-group(type="email"  placeholder="Email Address" name="email")
      %input.btn.btn-primary.btn-lg(type="submit"   value="Sign Up")
  