.row
  .col-md-4.col-md-offset-4
    %h2.text-center
      Sign Up Now
    %br
    =bootstrap_form_for @user, html: {class: 'form-   horizontal center text-center'} do |f|
      =f.text_field :username
      =f.password_field :password
      =f.email_field :email
      =f.submit "Create Account", class: "btn btn-primary     btn-lg"
  