.row
  .col-md-5.col-md-offset-1
    %h1 Sell your digital products online directly to your customers
  .col-md-6
    =render '/shared/signup'
%hr
%br
%br
.row.text-center
  .col-md-4
    %h3 Sell Multiple Products
    %p.lead There's no limit to how many products you can sell through Indiy
  .col-md-4
    %h3 Analyse Sales Data
    %p.lead Track sales figures and volume through our sophisticated dashboard
  .col-md-4
    %h3 Low Commissions 
    %p.lead We've stripped down to the bare essentails you need to sell your product, which means much better margins for you!