.row
  .col-md-12
    %h1.text-center How it Works
%hr
%br
%br
.row.text-center
  .col-md-5.pull-left
    %h2 Create an Account and Upload Your Product
    %p.lead Upload and fill in some simple information about your product.
  .col-md-5.pull-right
    %img.product
%br
%br
%hr
%br
%br
.row.text-center
  .col-md-5.pull-right
    %h2 Share your product link and start earning
    %p.lead You will recieve a link that you can share to your community that directs people to your products sales page
  .col-md-5.pull-left
    %img.product
%br
%br
%hr
%br
%br
.row.text-center
  .col-md-5.pull-left
    %h2 Track sales data and analytics from the dashboard
    %p.lead Analytics has never simpler with our product dashboard, no fancy figures, just the numbers that count.
  .col-md-5.pull-right
    %img.product