.row
  .col-md-12.text-center
    %h1 
      =@product.name
%br
.row
  .col-md-12
    =content_tag :div, "",id: "analytics", data: {payments: week_payments_graph(@product)}
.row.text-center
  .col-md-3.border-right
    %h3 Sales Today
    %p.lead
      =cents_to_dollars(@product.sales_today)
  .col-md-3.border-right
    %h3 Weekly Sales
    %p.lead
      =cents_to_dollars(@product.sales_week)
  .col-md-3.border-right
    %h3 Monthly Sales
    %p.lead
      =cents_to_dollars(@product.sales_month)
  .col-md-3
    %h3 Total Sales
    %p.lead
      =cents_to_dollars(@product.sales_total)
%br
%hr
.row
  .col-md-12.text-center
    %h1 Sales Invoices
%br
.row
  .col-md-12.text-center
    %table.table.table-striped
      %tr
        %td Name
        %td Email
        %td Purchase Date
        %td Receipt #
        %td Price
      -@payments.each do |payment|
        %tr
          %td
            =payment.name
          %td
            =payment.email
          %td
            =payment.created_at
          %td
            =payment.receipt
          %td
            =cents_to_dollars(payment.price)
=javascript_include_tag 'analytics'


