.row.text-center
  .col-md-12
    %h1 Thank You for your Purchase
%hr
.row.text-center
  .col-md-12.bg-success
    %h4 Download your product!
    %h5
      =link_to "Click Here", @product.product_file_url
