---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16o5VoKvv4sqfP0NbBYiV240",
          "livemode": false,
          "created": 1442984988,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16o5VoKvv4sqfP0NgGbiVdu6",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "WUS6lmDVZLbIK3fX",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "59.167.223.177"
        }
  recorded_at: Wed, 23 Sep 2015 05:09:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&currency=usd&source=tok_16o5VoKvv4sqfP0NbBYiV240&application_fee=100
    headers:
      Authorization:
      - Bearer sk_test_AaIL16BJY28ihTnOkHj2XvxN
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Account:
      - acct_16nOEmIDysV1eWIb
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_16nOEmIDysV1eWIb
      Stripe-Version:
      - '2015-06-15'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16o5VrIDysV1eWIbGNslYLTY",
          "object": "charge",
          "created": 1442984991,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 1000,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16o5VrIDysV1eWIbY2UWLNzY",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "3o4V9uCLgKphcjbC",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16o5VrIDysV1eWIbcb6pWoOg",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": "fee_729p6yEiR1cbQC",
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16o5VrIDysV1eWIbGNslYLTY/refunds",
            "data": []
          }
        }
  recorded_at: Wed, 23 Sep 2015 05:09:52 GMT
recorded_with: VCR 2.9.3
