%h1
  ="Thank you for joining Indiy #{@user.username}, you're so close to selling your Product Online!"

%p
  Before you can upload and create a sales page, you must join your account to stripe via the website:

  =link_to "Link your account", root_url