html, body {
  height: 100% !important;
  margin:0; padding:0;
}

h1 {
  font-size: 350%;
}
p.lead {
  font-size: 180%;
}
.container-fluid {
  min-height:100% !important;
  margin-bottom:-90px;
  padding-bottom:10px;
  overflow:hidden;
}
.center {
  margin:0 auto !important;
}
.example-image {
  width:90%;
  height:63vh;
  margin:0 auto !important;
}
.btn-text-center {
  line-height:100%;
}
#analytics {
  height:100%;
  width:100%;
}
