.navbar-default {
  background:white;
  padding:30px;
  font-size:140%;
  border:none;
  border-bottom:1px solid #F0F0F0;
  .btn-default {
    font-size:100%;
  }
  .navbar-brand {
    font-size:120%;
  }
  li {
    padding-right:10px;
  }
}
.dropdown-style {
  padding:5px;
  margin-bottom:10px;
  border:none;
  font-size:100%;
  left:4px !important;
  padding-right:10px;
  float:right;
  width:200% !important;
}
li.dropped {
  padding-bottom:10px;
  padding-top:5px;
  padding-left:0px;
  a {
    padding-left:4px;
    width:100%;
  }
}


